---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import AboutSection from '../components/sections/AboutSection.astro';
import TecnologiasSection from '../components/sections/TecnologiasSection.astro';

const pageTitle =
	'Portfolio de Andy Gonzales Castillo - Desarrollador de software';
const description =
	'Soy un desarrollador de software peruano apasionado por la creación de soluciones innovadoras.';
---

<Layout title={pageTitle} description={description}>
	<section id='inicio' class='w-full mx-auto lg:w-[740px] py-20'>
		<HeroSection
			title='Andy Rodrigo Gonzales Castillo'
			subtitle='Desarrollador de software'
			location='Lima, Perú'
			email='andygonzales.2005@outlook.es'
			avatar='https://avatars.githubusercontent.com/u/175566321?s=96&v=4'
		/>
	</section>

	<section id='sobre-mi' class='w-full mx-auto lg:w-[740px] py-20'>
		<AboutSection>
			Soy un desarrollador de software peruano apasionado por crear
			soluciones innovadoras...
		</AboutSection>
	</section>

	<section id='tecnologias' class='w-full mx-auto lg:w-[740px] py-20'>
		<TecnologiasSection />
	</section>
</Layout>
