---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import TecnologiasSection from "../components/sections/TecnologiasSection.astro";
import ExperienciaSection from "../components/sections/ExperienciaSection.astro";
import ProyectosSection from "../components/sections/ProyectoSection.astro";
import FormacionSection from "../components/sections/FormacionSection.astro";

const pageTitle =
	"Portfolio de Andy Gonzales Castillo - Desarrollador de software";
const description =
	"Soy un desarrollador backend apasionado por la tecnología y el aprendizaje continuo. Me especializo en Java y Spring Boot, herramientas con las que desarrollo aplicaciones robustas, escalables y bien estructuradas.";
---

<Layout
	title={pageTitle}
	description={description}
>
	<section
		id="inicio"
		class="w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0 pt-30"
	>
		<HeroSection
			title="Andy Rodrigo Gonzales Castillo"
			subtitle="Desarrollador de software"
			location="Lima, Perú"
			email="andygonzales.2005@outlook.es"
			avatar="/proyectos/andy.png"
		/>
	</section>

	<section
		id="sobre-mi"
		class="w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0"
	>
		<AboutSection>
			<p>
				Hola, soy un <span class="text-indigo-500 font-semibold">
					desarrollador backend
				</span> apasionado por la tecnología y el <span
					class="text-indigo-500 font-semibold"
				>
					aprendizaje continuo
				</span>. Me especializo en <span class="text-indigo-500 font-semibold">
					Java
				</span> y <span class="text-indigo-500 font-semibold">
					Spring Boot
				</span>, herramientas con las que desarrollo <span
					class="text-indigo-500 font-semibold"
				>
					aplicaciones robustas, escalables y bien estructuradas
				</span>.
			</p>

			<p class="mt-4">
				También tengo conocimientos sólidos en <span
					class="text-indigo-500 font-semibold"
				>
					HTML
				</span>, <span class="text-indigo-500 font-semibold">CSS</span> y <span
					class="text-indigo-500 font-semibold"
				>
					JavaScript
				</span>, lo que me permite tener una visión integral del <span
					class="text-indigo-500 font-semibold"
				>
					desarrollo fullstack
				</span> y colaborar de manera efectiva en el <span
					class="text-indigo-500 font-semibold"
				>
					frontend
				</span> cuando es necesario.
			</p>

			<p class="mt-4">
				Me destaco por ser una persona <span
					class="text-indigo-500 font-semibold"
				>
					responsable
				</span>, <span class="text-indigo-500 font-semibold">proactiva</span> y con
				gran <span class="text-indigo-500 font-semibold">
					curiosidad técnica
				</span>. Siempre estoy buscando asumir <span
					class="text-indigo-500 font-semibold"
				>
					nuevos retos
				</span> que me permitan seguir creciendo y aportando valor al equipo.
			</p>

			<p class="mt-4">
				Actualmente, estoy en búsqueda de <span
					class="text-indigo-500 font-semibold"
				>
					nuevas oportunidades profesionales
				</span> donde pueda aplicar mis habilidades, aprender de otros profesionales
				y <span class="text-indigo-500 font-semibold">
					contribuir desde el primer día
				</span>.
			</p>
		</AboutSection>
	</section>
	<section
		id="tecnologias"
		class="w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0"
	>
		<TecnologiasSection />
	</section>

	<!--
	<section
		id='experiencia'
		class='w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0'
	>
		<ExperienciaSection />
	</section>
	-->

	<section
		id="proyectos"
		class="w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0"
	>
		<ProyectosSection />
	</section>

	<section
		id="formacion"
		class="w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0"
	>
		<FormacionSection />
	</section>
</Layout>
