---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import AboutSection from '../components/sections/AboutSection.astro';
import TecnologiasSection from '../components/sections/TecnologiasSection.astro';
import ExperienciaSection from '../components/sections/ExperienciaSection.astro';
import ProyectosSection from '../components/sections/ProyectoSection.astro';
import FormacionSection from '../components/sections/FormacionSection.astro';

const pageTitle =
	'Portfolio de Andy Gonzales Castillo - Desarrollador de software';
const description =
	'Soy un desarrollador de software peruano apasionado por la creación de soluciones innovadoras.';
---

<Layout title={pageTitle} description={description}>
	<section
		id='inicio'
		class='w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0 pt-30'
	>
		<HeroSection
			title='Andy Rodrigo Gonzales Castillo'
			subtitle='Desarrollador de software'
			location='Lima, Perú'
			email='andygonzales.2005@outlook.es'
			avatar='https://avatars.githubusercontent.com/u/175566321?s=96&v=4'
		/>
	</section>

	<section
		id='sobre-mi'
		class='w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0'
	>
		<AboutSection>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias
			assumenda, quam obcaecati, reiciendis sit animi architecto delectus
			iusto iure voluptas autem magnam laudantium quos, veritatis quidem
			perspiciatis! Incidunt unde beatae illum fuga voluptas, numquam
			doloremque asperiores ullam nobis eveniet vel. Magni vero ducimus
			mollitia. Tenetur molestiae perspiciatis quia libero distinctio.</AboutSection
		>
	</section>

	<section
		id='tecnologias'
		class='w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0'
	>
		<TecnologiasSection />
	</section>

	<section
		id='experiencia'
		class='w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0'
	>
		<ExperienciaSection />
	</section>

	<section
		id='proyectos'
		class='w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0'
	>
		<ProyectosSection />
	</section>

	<section
		id='formacion'
		class='w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0'
	>
		<FormacionSection />
	</section>
</Layout>
