---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import TecnologiasSection from "../components/sections/TecnologiasSection.astro";
import ExperienciaSection from "../components/sections/ExperienciaSection.astro";
import ProyectosSection from "../components/sections/ProyectoSection.astro";
import FormacionSection from "../components/sections/FormacionSection.astro";

const pageTitle =
	"Portfolio de Andy Gonzales Castillo - Desarrollador de software";
const description =
	"Soy un desarrollador backend apasionado por la tecnología y el aprendizaje continuo. Me especializo en Java y Spring Boot, herramientas con las que desarrollo aplicaciones robustas, escalables y bien estructuradas.";
---

<Layout
	title={pageTitle}
	description={description}
>
	<section
		id="inicio"
		class="w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0 pt-30"
	>
		<HeroSection
			title="Andy Rodrigo Gonzales Castillo"
			subtitle="Desarrollador Backend"
			location="Lima, Perú"
			email="andygonzales.2005@outlook.es"
			avatar="/proyectos/andy.png"
		/>
	</section>

	<section
		id="sobre-mi"
		class="w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0"
	>
		<AboutSection>
			<p>
				Soy <span class="text-indigo-500 font-semibold">
					desarrollador backend
				</span> egresado en
				<span class="text-indigo-500 font-semibold">
					Desarrollo de Software
				</span>, con interés en construir
				<span class="text-indigo-500 font-semibold">
					aplicaciones escalables
				</span> y de
				<span class="text-indigo-500 font-semibold">alta calidad</span>.
			</p>

			<p class="mt-4">
				También tengo experiencia en <span
					class="text-indigo-500 font-semibold"
				>
					desarrollo frontend
				</span>, lo que me permite colaborar en proyectos de forma <span
					class="text-indigo-500 font-semibold"
				>
					integral
				</span> y comprender todo el ciclo de desarrollo.
			</p>

			<p class="mt-4">
				Me considero una persona <span class="text-indigo-500 font-semibold">
					responsable
				</span>,
				<span class="text-indigo-500 font-semibold">proactiva</span> y con una fuerte
				<span class="text-indigo-500 font-semibold">
					motivación por aprender
				</span> y asumir
				<span class="text-indigo-500 font-semibold">nuevos retos</span>.
			</p>

			<p class="mt-4">
				Actualmente, estoy en búsqueda de <span
					class="text-indigo-500 font-semibold"
				>
					nuevas oportunidades
				</span> que me permitan
				<span class="inline-block text-indigo-500 font-semibold">
					aplicar mis habilidades
				</span>,

				<span class="text-indigo-500 font-semibold">
					aprender de otros profesionales
				</span> y
				<span class="text-indigo-500 font-semibold">
					aportar valor desde el primer día
				</span>.
			</p>
		</AboutSection>
	</section>

	<section
		id="tecnologias"
		class="w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0"
	>
		<TecnologiasSection />
	</section>

	<!--
	<section
		id='experiencia'
		class='w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0'
	>
		<ExperienciaSection />
	</section>
	-->

	<section
		id="proyectos"
		class="w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0"
	>
		<ProyectosSection />
	</section>

	<section
		id="formacion"
		class="w-full max-w-[740px] mx-auto px-4 sm:px-6 md:px-8 lg:px-0"
	>
		<FormacionSection />
	</section>
</Layout>
