---
const links = [
	{ href: '#inicio', text: 'Inicio' },
	{ href: '#sobre-mi', text: 'Sobre mí' },
	{ href: '#tecnologias', text: 'Tecnologías' },
	{ href: '#experiencia', text: 'Experiencia' },
	{ href: '#proyectos', text: 'Proyectos' },
	{ href: '#formacion', text: 'Formación' },
];
---

<header
	class='fixed top-0 left-0 w-full bg-neutral-900/90 backdrop-blur-md py-3 px-8 z-50'
>
	<nav>
		<ul class='flex flex-wrap justify-center gap-x-6 gap-y-2 opacity-75'>
			{
				links.map((link) => (
					<li>
						<a
							href={link.href}
							class='hover:text-gray-400 transition-colors duration-200 ease-in-out'
						>
							{link.text}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>
